/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.jumbotron {
  background-position: center;
}

.jumbotron.front {
  background-image: url(../img/jumbo-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.jumbotron.saannot {
  background-image: url(../img/gato.gif);
}

.jumbotron.videot {
  background-image: url(../img/video-bg.png);
}

.copyright {
  color: rgb(233, 227, 255);
}

footer.container {
  display: flex;
  justify-content: space-between;
}

.some {

  height: 1rem;
  width: 1rem;
}

.some.fb svg {
  fill: #e22eaa;
  transition: all 500ms ease;
}

.some.fb svg:hover {
  fill: #000;
}

.liftup-image {
  display: block;
  height: auto;
  margin-bottom: 15px;
  width: 100%;
}

.muted {
  color: #cccccc;
}

.blink {
  animation: blinker .5s linear infinite;
  color: red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
